<h1>REALTIME PRODUCTS - WEBSOCKETS</h1>

<div id="form-container">
  <form id="form">


    <label for="title">Title</label>
    <input id="title" type="text"/>
    </form>
    </br>
    
    <label for="description">Description</label>
    <input id="description" type="text"/>
    </br>
    </br>

    <label for="category">Category</label>
    <input id="category" type="text"/>
    </br> 
    </br> 

    <label for="price">Price</label>
    <input id="price" type="number"/>
    </br>
    </br>

    <label for="stock">Stock</label>
    <input id="stock" type="number"/>
    </br>
    </br>

    <label for="code">Code</label>
    <input id="code" type="text"/>
    </br>
    </br>


    <button type="submit">Add product</button>

  </form>
</div>

<br/>
<h5>------------------------ REALTIME PRODUCT LSIT ---------------------------------</h5>
<br/>

