<h1>REALTIME PRODUCTS - WEBSOCKETS</h1>

<div id="form-container">
  <form id="form">

    <div>
      <label for="title">Title</label>
      <input id="title" type="text" required/>
    </div>    

     <div>
      <label for="description">Description</label>
      <input id="description" type="text" required/>
     </div> 

    <div>
      <label for="category">Category</label>
      <input id="category" type="text" required/> 
    </div>

    <div>
      <label for="price">Price</label>
      <input id="price" type="number" required/>
    </div>

    <div>
      <label for="stock">Stock</label>
      <input id="stock" type="number" required/>
      </br>
      </br>
    </div>

    <div>
      <label for="code">Code</label>
      <input id="code" type="text" required/>
    </div>


    <button type="submit">Add product</button>

  </form>
</div>

<br/>
<h5>------------------------ REALTIME PRODUCT LSIT ---------------------------------</h5>
<br/>

<div id="products-container">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>